# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/nbproject/

/0000/
/Bin/
/.build/
/.qmake.stash
/langs/*.qm
/Makefile
/Makefile.Debug
/Makefile.Release
/object_script.qnetstatview.Debug
/object_script.qnetstatview.Release
/qnetstatview.pro.user
